@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Indie+Flower&family=Roboto:wght@100;300;400;700&display=swap');

.fonte{
    
    font-family: 'Cherry Bomb One', cursive;
    
}

h1{
    color:#f5f5f5;
    font-family: 'Cherry Bomb One', cursive;
    
}